* {
  margin: 0;
  padding: 0;
  font-family: "Poiret One", cursive;
  color: var(--font-color);
}

:root {
  --main-color: #494e6b;
  --second-color: #98878f;
  --third-color: #985e6d;
  --forth-color: #192231;
  --font-color: #fff;
  --mini-size: 0.5em;
  --small-size: 1em;
  --main-size: 1.5em;
  --second-size: 2em;
  --large-size: 3em;
  --xlarge-size: 6em;
  --xxlarge-size: 9em;
}

p {
  font-size: var(--second-size);
}

h2 {
  font-size: var(--large-size);
}

h1 {
  font-size: var(--xlarge-size);
}

#about,
#skills,
#professions,
#contact-me {
  margin: var(--xlarge-size);
}

body {
  background: linear-gradient( #494e6b, #98878f,#192231, #985e6d,  #494e6b, #98878f,#192231, #985e6d );
}

/*Welcome*/

header {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  background-image: url(images/thom-527.jpg);
}

.hello h1,
h2,
p {
  width: 100%;
  text-align: center;
  color: var(--main-color);
  padding-top: var(--small-size);
}

.hello h1 {
  margin-bottom: var(--large-size);
}

.hello h2 {
  padding-top: var(--second-size);
}

.hello p {
  padding-top: var(--small-size);
  padding-bottom: var(--small-size);
}

/*About*/

.about {
  display: flex;
  padding: var(--large-size);
  border: solid var(--font-color);
  align-items: center;
}

.about p {
  color: var(--font-color);
  text-align: left;
  padding-right: .5em;
}

.photo {
  text-align: center;
}

.photo img {
  width: 70%;
  border-radius: 50%;
}

/*my skills*/


.pic {
  background-image: url(images/my-skills2.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: solid var(--font-color);
  display: inline-block;
  text-align: center;
  padding: var(--xlarge-size);
  margin-top: var(--xlarge-size);
}

.first-skills .my-skills {
  width: 5%;
  margin: var(--main-size);
  margin-top: var(--large-size);
}

.second-skills .my-skills {
  width: 6%;
  margin: var(--main-size);
}

.third-skills .my-skills {
  width: 12%;
  margin: var(--main-size);
  margin-bottom: var(--xlarge-size);
}

.my-skills:hover {
  transform: scale(2);
  transition: 0.5s;
}

/*my-porfessions*/

#professions {
  padding-top: var(--xlarge-size);
}

.time-line {
  background: linear-gradient(#98878f, #192231, #192231, #985e6d);
  color: var(--font-color);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: solid var(--font-color);
  border-radius: var(--mini-size);
  text-align: center;
  outline: none;
  font-size: var(--main-size);
  transition: 0.4s;
  margin: var(--small-size);
}

.active,
.time-line:hover {
  background: transparent;
}

.panel {
  padding: 0 18px;
  display: none;
  background: transparent;
  overflow: hidden;
  margin-bottom: var(--main-size);
 
}
.job p, .job h2{
  color: var(--font-color);
}

/*Contact me*/

.my-contacts{
  border: solid var(--font-color);
  display:block;

}
.my-contacts p{
  color: var(--font-color)
}
.telephone{
  float: left;
}
.email{
  float: right;
}

/*navbar - span*/

span {
  position: fixed;
  font-size: 60px;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/*-------------------------------------Samsung S7-------------------------------------*/

@media screen and (max-height: 500px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media screen and (max-width: 750px) {
  p {
    font-size: var(--small-size);
    text-align: center;
  }
  h2 {
    font-size: var(--small-size);
    text-align: center;
  }
  h1 {
    font-size: var(--second-size);
    text-align: center;
  }
  #about,
  #skills,
  #professions,
  #contact-me {
    margin: var(--second-size);
  }
  body {
    background: linear-gradient(  #192231,#985e6d, #192231,#985e6d, #192231 ,#985e6d, #192231, #985e6d );
  }
  /*Welcome*/
  header {
    background-image: url(images/thom-527.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hello h1,
  h2,
  p {
    width: 100%;
    text-align: center;
    color: var(--main-color);
    padding-top: var(--small-size);
  }
  /*-------------------------------------*/
  /*About*/
  .about {
    display: flex;
    flex-direction: column-reverse;
    padding: var(--mini-size);
    border: solid var(--font-color);
  }
  .about p {
    color: var(--font-color);
    text-align: center;
  }
  .photo {
    width: 50%;
    border-radius: 50%;
    padding: var(--mini-size);
  }
  /*my skills*/
  #skills p {
    color: var(--font-color);
    padding-bottom: var(--small-size);
  }
  .pic {
    background: none;
    border: solid var(--font-color);
    display: inline-block;
    text-align: center;
    padding: var(--mini-size);
  }
  .first-skills .my-skills {
    width: 12%;
    margin: var(--small-size);
    margin-top: var(--main-size);
  }
  .second-skills .my-skills {
    width: 12%;
    margin: var(--mini-size);
  }
  .third-skills .my-skills {
    width: 24%;
    margin: var(--mini-size);
    margin-bottom: var(--main-size);
  }
  .my-skills:hover {
    transform: scale(2.7);
    transition: 0.5s;
  }
  /*my-porfessions*/
  #professions h1 {
   
    margin-bottom: var(--main-size);
  }
  .professions {
    margin: var(--mini-size);
  }
  .time-line {
    background: linear-gradient(#98878f, #192231, #192231, #985e6d);
    color: var(--font-color);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: solid var(--font-color);
    border-radius: var(--mini-size);
    text-align: center;
    outline: none;
    font-size: var(--main-size);
    transition: 0.4s;
    margin: 0;
  }
  .active,
  .time-line:hover {
    background: transparent;
  }
  .panel {
    padding: 0 18px;
    display: none;
    background: transparent;
    overflow: hidden;
    margin-bottom: var(--main-size);
  }
  .job p,
  .job h2 {
    color: var(--font-color);
  }
  /*Contact me*/
  .my-contacts {
    border: solid var(--font-color);
    margin-top: var(--large-size);
    padding: var(--mini-size);
  }
  .tel,
  .wht,
  .eml {
    text-align: center;
    padding-bottom: var(--small-size);
    padding-top: var(--small-size)
  }
  /*navbar - span*/
  span {
    position: fixed;
    font-size: 30px;
  }
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .overlay a:hover,
  .overlay a:focus {
    color: #f1f1f1;
  }
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
}